/* color */
svg {color: #1F6FEB;}

#container2 #aboutMe, #container2 #education {
    width: 100%;
    height: 100vh;
}

.containerContent {
    width: 100%;
    height: auto;
}

.containerContent .contentBox {
    position: relative;
    width: 1200px;
    height: auto;
    margin: auto;
    padding: 50px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    color: #fff;
}

/* aboutme style */
.containerContent .contentBox:nth-child(1) {
    padding-top: 130px;
}

.containerContent .contentBox .photo img {
    width: 200px;
    height: auto;
}

.containerContent .contentBox .titleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
}

.containerContent .contentBox .titleBox h2 {
    display: block;
    position: relative;
    font-family: 'Montserrat';
    font-size: 4em;
    margin: 0;
}

.containerContent .contentBox .titleBox.left h2 {text-align: right;}
.containerContent .contentBox .titleBox.right h2 {text-align: left;}
.containerContent .contentBox h3 {font-size: 1.5em;}

.containerContent .contentBox .contentBox2 {
    width: 65%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
}
.containerContent .contentBox .contentBox2 .aboutMe {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    font-size: 1.2em;
    align-items: center;
}

.containerContent .contentBox .contentBox2 .aboutMe svg {
    width: 30px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}
.containerContent .contentBox .contentBox2 .aboutMe .content {
    margin-left: 5px;
}

/* education style */
.containerContent.edu {
    /* background-color: #1a1d22; */
}

.containerContent .contentBox.eduBox .contentBox2 .subtitle {
    display: grid;
    grid-template-columns: 90px auto 25px 80px;
    grid-template-rows: 30px;
    column-gap: 10px;
}
    
.containerContent .contentBox.eduBox .contentBox2 .subtitle h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #1a1d22;
}

.containerContent .contentBox.eduBox .contentBox2 .subtitle.in {
    grid-template-columns: 120px auto 25px 150px;
}

.containerContent .contentBox.eduBox .contentBox2 .subtitle .lineStretch {
    position: relative;
    width: 100%;
    height: 15px;
    border-top: 3px solid #1F6FEB;
    top: 15px;
}

.containerContent .contentBox.eduBox .contentBox2 .subtitle .boxRounded {
    position: relative;
    width: 26px;
    height: 15px;
    border-right: 3px solid #1F6FEB;
    border-top: 3px solid #1F6FEB;
    border-radius: 0 10px 0 0;
    left: -15px;
    top: 15px;
}

.containerContent .contentBox.eduBox .contentBox2 .subtitle.in .boxRounded {
    height: calc(100% - 3px);
}

/* formal */
.containerContent .contentBox.eduBox .contentBox2 .contentBox3 {
    display: grid;
    grid-template-columns: auto 25px 80px;
    grid-template-rows: auto;
    column-gap: 10px;
    font-size: 1.2em;
}

.containerContent .contentBox.eduBox .contentBox2 .contentBox3 .school {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    text-align: right;
}

.containerContent .contentBox.eduBox .contentBox2 .contentBox3 .line {
    text-align: center;
}

.containerContent .contentBox.eduBox .contentBox2 .contentBox3 .line div {
    position: relative;
    display: inline-block;
    width: 3px;
    height: calc(100% + 4px);
    background-color: #1F6FEB;
    margin: 0 auto;
    top: -3px;
    z-index: 1;
}

.containerContent .contentBox.eduBox .contentBox2 .contentBox3 svg {
    position: relative;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    z-index: 3;
}

.containerContent .contentBox.eduBox .contentBox2 .contentBox3 .year {
    padding: 0 10px;
    box-sizing: border-box;
    text-align: left;
}

/* informal */
.containerContent .contentBox.eduBox .contentBox2 .subtitle.in {
    margin-top: 50px;
}
.containerContent .contentBox.eduBox .contentBox2 .contentBox3.informalEdu {
    grid-template-columns: auto 25px 150px;
    grid-template-rows: auto;
}

.containerContent .contentBox.eduBox .contentBox2 .contentBox3.informalEdu div {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.containerContent .contentBox.eduBox .contentBox2 .contentBox3.informalEdu .point {
    padding: 0;
}

/* Responsife profile */
@media screen and (max-width: 1210px) {
    .containerContent .contentBox .titleBox h2 {
        font-size: 2em;
    }
    .containerContent .contentBox .contentBox2 h3 {
        font-size: 1em;
    }
    .containerContent .contentBox { width: 100%;}
    /* .containerContent .contentBox .titleBox h2 {
        font-size: 3.7em;
    } */
    .containerContent .contentBox { 
        flex-direction: column;
    }
    .contentBox.eduBox {
        flex-direction: column-reverse;
    }
    .containerContent .contentBox .contentBox2, 
    .containerContent .contentBox .titleBox {
        width: 100%;
    }
    .containerContent .contentBox .titleBox {
        flex-direction: row;
    }
    .containerContent .contentBox .titleBox h2 {
        text-align: center;
    }
    .containerContent .contentBox .titleBox h2::after {
        content: "\00a0";
    }
}
@media screen and (max-width: 700px) {
    .containerContent .contentBox .contentBox2 .school, 
    .containerContent .contentBox.contentBox2 .year {
        font-size: 0.7em;
    }
    .containerContent .contentBox.eduBox .contentBox2 .contentBox3 {
        grid-template-columns: auto 25px 50px;
    }
    .containerContent .contentBox.eduBox .contentBox2 .subtitle.formal {
        grid-template-columns: 90px auto 25px 50px;
    }
    .containerContent .contentBox.eduBox .contentBox2 .contentBox3.informalEdu {
        grid-template-columns: auto 25px 90px;
    }
    .containerContent .contentBox.eduBox .contentBox2 .subtitle.in {
        grid-template-columns: 120px auto 25px 90px;
    }
    .containerContent .contentBox.eduBox .contentBox2 .contentBox3.informalEdu div {
        padding: 0;
    }
    .containerContent .contentBox.eduBox .contentBox2 .subtitle.in .boxRounded {
        height: calc(100% - 10px);
    }
}

@media screen and (max-width: 600px) {
    .containerContent .contentBox {
        padding: 50px 20px;
        box-sizing: border-box;
    }
    .containerContent .contentBox:nth-child(1) {
        padding-top: 50px;
    }
    .containerContent .contentBox .titleBox h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 390px) {
    .containerContent .contentBox.eduBox .contentBox2 .subtitle .boxRounded, 
    .containerContent .contentBox.eduBox .contentBox2 .subtitle .lineStretch{
        border: 0;
    }
    .containerContent .contentBox.eduBox .contentBox2 .subtitle .lineStretch {
        background-color: transparent;
    }
}

