#container {
    width: 100%;
    background-color: #1a1d22;
    background-position: center;  
}

#container.home {
    height: 100vh;
    padding: 0 100px;
    box-sizing: border-box;
}

.cont1 {
    position: relative;
    width: 1200px;
    height: auto;
    padding: 70px 0;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    #container {
        padding: 0 100px;
        box-sizing: border-box;
    }
    .cont1 {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    #container.home {
        padding: 0;
    }
}

@media screen and (max-width: 560px) {
    #container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 460px) {
    #container {
        padding: 0 35px;
    }
}