/* #container {
    width: 100%;
    height: 100vh;
    background-color: #1a1d22;
    background-position: center;  
    overflow: auto;  
}

#boxContentContainer{
    position: relative;
    width: 1200px;
    height: auto;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    top: 55%;
    transform: translate(0, -50%);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#boxContent {
    position: relative;
    width: calc(100% - 500px);
    height: 500px;
    padding-left: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
} */
h1, h2, h3 {margin: 0;}
h1 {
    font-size: 3.3em;
    color: #1F6FEB;
}
h2 {font-size: 2em;}
h3 {font-size: 2em;}
p {
    font-style: italic;
    font-size: 0.9em;
    padding: 1em 0;
    box-sizing: border-box;
    margin-bottom: 50px;
}
a {
    color: #fff;
    font-size: 1em;
}

.download {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 30px;
    margin: 20px 0;
    border: 1px solid #fff;
    padding: 2px 0;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}

.download:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px) {
    h1 {font-size: 3em;}
    h2 {font-size: 1.9em;}
    h3 {font-size: 1.8em;}
    p {padding: 0.6em 0;}
}
@media screen and (max-width: 1100px) {
    p {padding: 0;}
}
@media screen and (max-width: 1000px) {
    h1 {font-size: 2.7em;}
    h2 {font-size: 1.6em;}
    h3 {font-size: 1.3em;}
}
@media screen and (max-width: 900px) {
    h1 {font-size: 2.5em;}
    h2 {font-size: 1.5em;}
    h3 {font-size: 1.3em;}
    p {
        padding: 0.3em 0;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 500px) {
    a {font-size: 0.8em;}
    
    .download {
        width: 110px;
        height: 25px;
        margin: 40px 0 0;
    }
}
@media screen and (max-width: 400px) {
    h1 {font-size: 2em;}
    h2 {font-size: 1em;}
    h3 {font-size: 0.8em;}
    p {
        padding: 0.2em 0;
        font-size: 0.8em;
    }
}
@media screen and (max-width: 300px) {
    h1 {font-size: 1.5em;}
    h2 {font-size: 0.8em;}
    h3 {font-size: 0.8em;}
    p {
        padding: 0.4em 0;
        font-size: 0.6em;
    }
}