#homeCont {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    z-index: 2;
    margin: 0;
}

#homeCont .imgCont {
    align-self: flex-end;
    padding: 0 50px;
    overflow: hidden;
}

#homeCont .imgCont img{
    height: 90vh;
    z-index: 2;
}

#homeCont .homeContCtn {
    box-sizing: border-box;
    margin-left: 50px;
    z-index: 3;
    overflow: hidden;
}

#homeCont h1 {
    font-size: 38px;
    margin: 20px 0 0 0;
}
#homeCont h2 {
    font-size: 30px;
    margin: 0;
}
#homeCont h3 {
    font-size: 24px;
    margin: 0;
}

#homeCont h1 span.blue {
    color: #2196F3;
}

#homeCont .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: #2196F3;
    color: #FFFFFF;
    height: 36px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 50px;
    font-size: 16px;
}
  
#homeCont .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#homeCont .button span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#homeCont .button:hover span {
    padding-right: 25px;
}
  
#homeCont .button:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 970px) {
    #homeCont .imgCont {
        padding: 0 0 0 50px;
    }
}

@media screen and (max-width: 935px) {
    #homeCont .homeContCtn {
        padding-left: 0;
        margin-left: 0;
        position: absolute;
        left: 50vw;
    }
    #homeCont .imgCont {
        padding: 0;
        position: absolute;
        left: 0;
    }
}

@media screen and (max-width: 770px) {
    #homeCont .imgCont {
        left: -100px;
    }
    #homeCont .homeContCtn {
        left: 45vw;
    }
}

@media screen and (max-width: 665px) {
    #homeCont .imgCont {
        left: -150px;
    }
}


@media screen and (max-width: 620px) {
    #homeCont .imgCont {
        display: none;
    }
    #homeCont .homeContCtn {
        left: 0;
        margin: 0 10vw;
    }
}

@media screen and (max-width: 470px) {
    #homeCont h1 {
        font-size: 32px;
    }
    #homeCont h2 {
        font-size: 26px;
    }
    #homeCont h3 {
        font-size: 22px;
    }
    #homeCont .button {
        width: 160px;
        font-size: 14px;
    }
}