#boxImgView {
    position: fixed;
    display: none;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

#imgView {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vh;
    height: 90vh;
    background-image: url('../assets/images/profile.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#imgView svg {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    background-color: #000;
    border: 8px solid #000;
    border-radius: 50%;
    color: #fff;
}

#imgView svg:hover {
    cursor: pointer;
    color: #999;
}

@media screen and (max-width: 800px) {
    #imgView {
        width: 85vw;
        height: 85vw;
    }
}