#boxImg {
    background-image: url('../assets/images/profile.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 500px;
    border-radius: 50% 0 50% 50%;
}

#boxImg:hover {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #boxImg {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 1100px) {
    #boxImg {
        width: 380px;
        height: 380px;
    }
}
@media screen and (max-width: 1000px) {
    #boxImg {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 900px) {
    #boxImg {
        width: 250px;
        height: 250px;  
    }
}
@media screen and (max-width: 800px) {
    #boxImg {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 400px) {
    #boxImg {
        width: 150px;
        height: 150px;
    }
}