#navbarBG {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 80px;
    background-color: #1a1d22;
}

#navbarBox {
    position: fixed;
    z-index: 4;
    width: 1200px;
    height: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: #1a1d22;
}

.home #navbarBox {
    display: none;
    visibility: hidden;
}

#navbarLogo {
    width: 80px;
    height: 100%;
    background-color: #333;
    border-radius: 40px;
}

#itemBoxNavbar {
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}

#itemBoxNavbar a {
    cursor: pointer;
}

#itemBoxNavbar .item {
    width: auto;
    text-align: center;
    font-size: 1.1em;
    margin: 0 0 0 15px;
    padding: 3px 15px;
    border-radius: 20px;
}

#itemBoxNavbar .item:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
}

#navbarBox .togle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.9em;
    z-index: 10;
    display: none;
    background-color: #121419;
}

#navbarBox .togle:hover {
    transition: 0.5s;
    outline: none !important;
}
#navbarBox .togle:focus {
    outline: none !important;
}
#navbarBox .togle svg {
    fill: #fff;
    position: relative;
}

#navbarBox a {
    color: #fff;
    font-size: 1em;
}

/* make responsive navbar */
@media screen and (max-width: 1300px) {
    #navbarBG, #navbarBox {width: calc(100% - 200px);}
}
@media screen and (max-width: 1000px) {
    #navbarBox {
        width: 0;
        height: 100vh;
        padding: 0;
        right: 0;
        left: auto;
        transform: none;
        background-color: transparent;
        transition: all 0.35s ease-in-out;
    }
    #itemBoxNavbar {
        flex-direction: column; 
        width: 0;
        height: 100vh;
        justify-content: center;
        background-color: #111316;
        transition: all 0.35s ease-in-out;
        overflow: hidden;
    }
    #itemBoxNavbar.active {
        width: 100%;
    }
    #itemBoxNavbar .item {
        width: 150px;
        margin: 15px 0;
    }
    #navbarBox .togle {
        /* display: block; */
        display: flex;
    justify-content: center;
    align-items: center;
    }
}
