.toolTip {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 2.4vw;
	cursor: pointer;
	outline: none;
	appearance: none;
}

.toolTip span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #3a3d42;
    font-size: 11px;
    border-radius: 5px;
    text-align: left;
    white-space: nowrap;
    transform: translate(-50%, 1em);
    transition: all .15s ease-in-out;
}

.toolTip span::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-top-color: #3a3d42;
    transform: translate(-50%, 0);
}

.toolTip:hover span.tooltiptext{
    opacity: 1;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 460px) {
    .toolTip span  {
        display: none;
    }
}